<h3>Welcome, <%= current_user.username %></h3>

<h4>Edit  <%= @legend.name %>'s Stats</h4>

<form action="/stats/<%= @stat.id %>" method="Post">

     <input type="hidden" name="_method" value="patch">

        <h5>Edit Stats:</h5> 
        <input type="text" name="kills" id="kills" value="<%= @stat.kills %>"><br>
        <input type="text" name="wins" id="wins" value="<%= @stat.wins %>"><br>
          <br>
        <input type="submit" value="submit">

   </form>