<h2><%= @legend.name %> Stats:</h2>
<h3>Wins: <%= @stat.wins %></h3>
<h3>Kills: <%= @stat.kills %></h3><br>
<a href="/stats/<%= @stat.id %>/edit">Edit Stats</a><br>
<a href="/stats/<%= @stat.id %>/delete">Delete Stats</a>